<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{$siteURL}img/admin-eurotrips.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{$siteURL}css/basico.css">
	<link rel="stylesheet" href="{$siteURL}css/eurotrips_panel.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/609e2e7fda.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{$siteURL}js/app.js"></script>
	<title>Eurotrips | Registro</title>
</head>
<body>
	<div id="mainContainer" class="container row">
		<div class="col">
			
			<header class="row sombrear">
				<div class="col logo flex">
					<div><a href="{$siteURL}"><img src="{$siteURL}img/logo-eurotrips-negro.png" alt="Eurotrips" /></a></div>
				</div>
				
			</header>
			<section class="mainSection home row">
				<div class="col col-12 col-md-8 mauto">
					<div class="innerContent">
						<div class="cardContainer fullWidth mb1 formDesign registerForm">
							<h2 class="ps2 pt2 pb1 mb1">Registro / Registration</h2>
								<div class="ps2 pb2">
									Su registro se realizó con éxito, ahora puede loguearse en el Panel del viajero. /
									Your registration was completed successfully. You can now sign in to the Traveler Portal.<br /><br />
									<a href="{$siteURL}" class="btn primario">PANEL DEL VIAJERO / TRAVELER PORTAL</a>
								</div> 
						</div><!--//.cardContainer-->
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>