<form class="recuperacion-form" method="post">
	<div class="ps2 mb1">{$mensaje}</div>
	<div class="cf-turnstile ps2"
	     data-sitekey="{$TURNSTILE_SITE_KEY}">
	</div>
	<div class="row gap lineBelow">
		<div class="col col-12 ps2"><label>Escriba su nueva contraseña <span class="obligatorio">*</span>:</label></div>
		<div class="col col-12 col-md-6 ps2">
			<input class="requerido" type="password" value="" id="sendArr[password]" name="sendArr[password]" />
		</div>
		<div class="listado ps2 small">
			<div class="msgPlus"></div>
			<div class="reglaLongitud texto-alerta">
				<span class="icono"><i class="fa fa-times"></i></span>
				<span class="texto">Mínimo 8 caracteres</span>
			</div>
			<div class="reglaMinuscula texto-alerta">
				<span class="icono"><i class="fa fa-times"></i></span>
				<span class="texto">Una letra minúscula</span>
			</div>
			<div class="reglaMayuscula texto-alerta">
				<span class="icono"><i class="fa fa-times"></i></span>
				<span class="texto">Una letra mayúscula</span>
			</div>
			<div class="reglaNumero texto-alerta">
				<span class="icono"><i class="fa fa-times"></i></span>
				<span class="texto">Un número</span>
			</div>
			<div class="reglasimbolo texto-alerta">
				<span class="icono"><i class="fa fa-times"></i></span>
				<span class="texto">Un símbolo</span>
			</div>
		</div>	
	</div>
	<div class="row gap lineBelow">
		<div class="col col-12 ps2"><label>Confirmar contraseña<span class="obligatorio">*</span>:</label></div>
		<div id="msgConfirmacion" class="small mt-1 ps2">
		</div>
		<div class="col col-12 col-md-6 ps2">
			<input class="requerido" type="password" value="" id="sendArr[confirmPassword]" name="sendArr[confirmPassword]" />
		</div>
	</div>
	<div class="row">
		<div class="col ps2"><button type="submit" class="btn primario" id="sendForm"><i class="fa-solid fa-paper-plane"></i> &nbsp; Enviar</button></div>
	</div>
</form>
<script type="text/javascript">
const clasesContenedores = {
	longitud:'.reglaLongitud',
	minuscula:'.reglaMinuscula',
	mayuscula:'.reglaMayuscula',
	numero:'.reglaNumero',
	simbolo:'.reglasimbolo',
	espacios:'.msgPlus'
}

$(document).ready(function(){
	$('input[name="sendArr[password]"]').on('keyup', function(){
	    let resultado = validarPassword($(this).val());
		console.log(resultado);				
	});
	//----------------------------
	$('input[name="sendArr[password]"], input[name="sendArr[confirmPassword]"]').on('keyup', function () {

	    if ($('input[name="sendArr[confirmPassword]"]').val().length === 0) {
	        $('#msgConfirmacion').html('').removeClass('text-success text-danger');
	        return;
	    }
	    if (validarConfirmacionPassword()) {
	        $('#msgConfirmacion').addClass('text-success').removeClass('text-danger').html("<i class='fa fa-check'></i> Las contraseñas coinciden");
	    } else {
	        $('#msgConfirmacion').addClass('text-danger').removeClass('text-success').html("<i class='fa fa-times'></i> Las contraseñas no coinciden");
	    }


	});
	//****************************
	$('#sendForm').on('click', function(e){
	    if(!validarFormulario()){
	    	e.preventDefault();
	        alert('Hay campos obligatorios sin completar o las contraseñas no coinciden.');
	        return;
	    }
	    // Enviar formulario
	});
	//****************************
	$('.requerido').on('input change', function(e){
		let $campo = $(this);
	    if($campo.is(':checkbox')){
	        if($campo.is(':checked')){
	            $campo.parent().removeClass('input-error');
	        }
	    }else{
	        if(($campo.val() ?? '').trim() !== ''){
	            $campo.removeClass('input-error');
	        }
	    }
	});

});

function validarPassword(password){
    let resultado = {
        longitud: password.length >= 8,
        minuscula: /[a-z]/.test(password),
        mayuscula: /[A-Z]/.test(password),
        numero: /\d/.test(password),
        simbolo: /[^A-Za-z0-9]/.test(password),
        espacios: !/\s/.test(password)
    };

    var cantidadValidaciones = 0;
	var validacionesCorrectas = 0;

    for(regla in resultado){
    	cantidadValidaciones++;
    	if(resultado[regla]){
    		validacionesCorrectas++;
    		console.log(clasesContenedores[regla]);
    		if(regla !== 'espacios'){
    			$(clasesContenedores[regla]).addClass('texto-activo');
    			$(clasesContenedores[regla]).removeClass('texto-alerta');
    			$(clasesContenedores[regla]+' .icono i.fa').addClass('fa-check');
    			$(clasesContenedores[regla]+' .icono i.fa').removeClass('fa-times');
    		}else{
    			$(clasesContenedores[regla]).addClass('texto-activo');
    			$(clasesContenedores[regla]).removeClass('texto-alerta');
    			$(clasesContenedores[regla]).text('');
    		}
    	}else{
    		if(regla !== 'espacios'){
    			$(clasesContenedores[regla]).removeClass('texto-activo');
    			$(clasesContenedores[regla]).addClass('texto-alerta');
    			$(clasesContenedores[regla]+' .icono i.fa').removeClass('fa-check');
    			$(clasesContenedores[regla]+' .icono i.fa').addClass('fa-times');
    		}else{
    			$(clasesContenedores[regla]).removeClass('texto-activo');
    			$(clasesContenedores[regla]).addClass('texto-alerta');
    			$(clasesContenedores[regla]).text('No debe contener espacios');
    		}
    	}
    }

    if(validacionesCorrectas == cantidadValidaciones){
    	return true;
    }else{
    	return false;
    }

}
function validarConfirmacionPassword(){
    let password = $('input[name="sendArr[password]"]').val();
    let confirmacion = $('input[name="sendArr[confirmPassword]"]').val();

    if (confirmacion.length === 0) {
        return false;
    }

    return password === confirmacion;
}
function validarFormulario(){

    let valido = true;

    $('.requerido').each(function(){

        let $campo = $(this);
        let valor = ($campo.val() ?? '').trim();

        if($campo.is(':checkbox')){

            if(!$campo.is(':checked')){
                $campo.parent().addClass('input-error');
                valido = false;
            }else{
                $campo.parent().removeClass('input-error');
            }

        }else{

            if(valor === ''){
                $campo.addClass('input-error');
                valido = false;
            }else{
                $campo.removeClass('input-error');
            }

        }

    });

    
    // Contraseña
    if(!validarPassword($('input[name="sendArr[password]"]').val())){
        valido = false;
    }

    // Confirmación
    if(!validarConfirmacionPassword()){
        valido = false;
    }

    return valido;
}
</script>