<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- 1 segment -->
        <rule name="1 Segment" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-_]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite"
                  url="index.php?data1={R:1}" />
        </rule>

        <!-- 2 segments -->
        <rule name="2 Segments" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/?$" />
          <action type="Rewrite"
                  url="index.php?data1={R:1}&amp;data2={R:2}" />
        </rule>

        <!-- 3 segments -->
        <rule name="3 Segments" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/?$" />
          <action type="Rewrite"
                  url="index.php?data1={R:1}&amp;data2={R:2}&amp;data3={R:3}" />
        </rule>

        <!-- 4 segments -->
        <rule name="4 Segments" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/?$" />
          <action type="Rewrite"
                  url="index.php?data1={R:1}&amp;data2={R:2}&amp;data3={R:3}&amp;data4={R:4}" />
        </rule>

        <!-- 5 segments -->
        <rule name="5 Segments" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/?$" />
          <action type="Rewrite"
                  url="index.php?data1={R:1}&amp;data2={R:2}&amp;data3={R:3}&amp;data4={R:4}&amp;data5={R:5}" />
        </rule>

        <!-- 6 segments -->
        <rule name="6 Segments" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/?$" />
          <action type="Rewrite"
                  url="index.php?data1={R:1}&amp;data2={R:2}&amp;data3={R:3}&amp;data4={R:4}&amp;data5={R:5}&amp;data6={R:6}" />
        </rule>

        <!-- Example redirect -->
        <!--
        <rule name="Redirect Example" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Redirect"
                  url="https://universidadbiossmann.com/transformacion/"
                  redirectType="Found" />
        </rule>
        -->

      </rules>
    </rewrite>
  </system.webServer>
</configuration>