<div class="cardContainer fullWidth mb2">
	<div class="row">
		<div class="col"><h3>Gestión de usuarios</h3></div>
	</div>
	<div class="controles">
		<!--div class="row">
			<div class="col"><label>Buscar</label></div>
		</div-->
		<div class="row mb2">
			<div class="col col-12 col-md-6">
				<!--div class="row">
					<div class="col"><input type="text" name="terminoBusqueda" id="terminoBusqueda" /> </div>
				</div-->
			</div>
			<div class="col col-12 col-md-6 aright">
				<a href="{$linkNuevo}" class="btn primario"><i class="fa-solid fa-plus"></i> Nuevo</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">Registros: <span class="capsula primarioClaro" id="totalRegistros"></span></div>
	</div>
	<div class="row">
		<div class="col dataTableContainer resultBoxRegistros">

		</div>
	</div>
	<div class="row">
		<div class="col">
			<nav id="paginacionPantalla">
			  
			</nav>
		</div>
	</div>	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		console.log('Usrs...');

		$('#terminoBusqueda').keydown(function(e){
		    if(e.which != 13){
		        return;
		    }
		    e.preventDefault();
		    let termino = $(this).val().trim();
		    getRegistros(termino === '' ? '%' : termino);
		});
		$('#btnSearch').click(function(){
			var currentValue = $('#terminoBusqueda').val().trim();
			if(currentValue == ''){
				getRegistros('%');
			}else{
				getRegistros(currentValue);
			}
		});
		getRegistros('%');
	});
	function getRegistros(filter,page=1,type='USERS'){
		$(".resultBoxRegistros").html("<div class=' redondear setpadding5'><img src='{$siteURL}img/loader_world_1.gif' width='45' /></div>");
		var envioData = new FormData();
		envioData.append("action",'getRegistros');													
		envioData.append("filter",filter);
		envioData.append("page",page);
		envioData.append("type",type);
		console.log('getRegistros()');
		$.ajax({
			url: "{$siteURL}webservice/acciones.php",
			type:"POST",
			processData: false,//tanto processData como contentType deben estar en false para que funcione FormData
			contentType: false,
			data:envioData,
			cache:false,
			dataType:"json",
			success: function(respuesta){
				var texto = '';
				if(respuesta.success){
					$(".resultBoxRegistros").html('');
					texto = respuesta.data.codigo;
				}else{
					texto = "<div class='bg-warning'>"+respuesta.error+"</div>";
					if(respuesta.data.httpCode == 401 || respuesta.data.httpCode == 403){
						document.location.href='{$siteURL}SALIR';
					}
				}
				$(".resultBoxRegistros").html(texto);
				$("#paginacionPantalla").html(respuesta.data.paginacion);
				$("#totalRegistros").html(respuesta.data.totalRegistros);
				$('[data-toggle="tooltip"]').tooltip();
				activarFuncionalidades();
			},
			error: function(){
				$(".resultBoxRegistros").html('');
				if (typeof respuesta !== 'undefined') {
					$(".resultBoxRegistros").html(respuesta.data.error);
					console.log(respuesta.data.error);
				} else {
				}
			}
		});
	}
	function activarFuncionalidades(){

		$('.page-item:not(.active)').filter(function () {
        	return $(this).find('.page-link[disabled]').length === 0;
	    })
	    .each(function () {
	        // Aquí sólo llegan los válidos
	        $(this).click(function(){
	        	var currentValue = $('#terminoBusqueda').val().trim();
	        	var page = $(this).find('.page-link').attr('page');
				if(currentValue == ''){
					getRegistros('%',page);
				}else{
					getRegistros(currentValue,page);
				}
	        });
	    });

	    $('.btnActivar').click(function(){
	    	var change = $(this).attr('change');
	    	var email = $(this).attr('mail-refer');
	    	setUserStatus(email,change);
	    });
	}
	function setUserStatus(email,change){
		var envioData = new FormData();
		envioData.append("action",'setUserStatus');													
		envioData.append("email",email);
		envioData.append("change",change);

		$.ajax({
			url: "{$siteURL}webservice/acciones.php",
			type:"POST",
			processData: false,//tanto processData como contentType deben estar en false para que funcione FormData
			contentType: false,
			data:envioData,
			cache:false,
			dataType:"json",
			success: function(respuesta){
				var texto = '';
				if(respuesta.success){
					
					getRegistros('%');
				}else{
					texto = "<div class='bg-warning'>"+respuesta.error+"</div>";
					$(".resultBoxRegistros").prepend(texto);
				}
			},
			error: function(){
				if (typeof respuesta !== 'undefined') {
					$(".resultBoxRegistros").prepend(respuesta.data.error);
					console.log(respuesta.data.error);
				}
			}
		});
	}
</script>