<form class="registroEdit" method="post">
	<div class="row">
		<div class="col col-12 col-md-1"></div>
		<div class="col col-12 col-md-4">
			
			<div class="row">
				<div class="col"><label>Euros (hoy {$fechaHoy})</label></div>
			</div>
			<div class="row">
				<div class="col">{$inputEuros}</div>
				<div class="col"></div>
			</div>

		</div>
		<div class="col col-12 col-md-2"></div>
		<div class="col col-12 col-md-5">
			
			<div class="row">
				<div class="col"><label>Dólares (hoy {$fechaHoy})</label></div>
			</div>
			<div class="row">
				<div class="col">{$inputDolares}</div>
				<div class="col"></div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col col-12 col-md-12 acenter">
			{$btnGuardar}
		</div>
	</div>	
</form>
<hr />