<div class="container my-5 py-1">
     <div class="row justify-content-md-center my-5">
          <div class="col-3 text-center logo-column">
               <img src="{$siteURL}img/logo-biossmann-blanco-r.png" alt="Biossmann" class="img-fluid logo-image">
          </div>
     </div>
     <div class="row justify-content-md-center my-5 pt-5">
          <div class="col-12 col-md-4 text-center">
               
          </div>
     </div>
     <div class="row justify-content-md-center my-5">
          <div class="col-12 col-md-4 col-sector">
               <form class="login-form sendingForm" method="post">
                    <div class="form-group">
                         <label for="email">¿Cuál es tu correo electrónico?</label>
                         <input type="email" class="form-control setObligatorio" id="email" name="email" data-validation="email" placeholder="Escribe tu correo">
                         <div class="inputBlock">
                             
                              <div class="responseInput" referer="email"></div>
                         </div>
                    </div>
                    <p>Si tenemos registrado tu correo electrónico llegará a este un enlace para que puedas cambiar tu contraseña.</p>
                    <button type="submit" class="btn btn-bioss btn-block my-5 btn-login">Recuperar</button>
                    
               </form>
          </div>
     </div>
</div>
          