<tr>
	<td class="aright">{$trip_name}</td>
	<td class="aright">{$travelers_count}</td>
	<td class="aright">{$simboloMoneda} {$total_trip_cost}</td>
	<td class="aright">{$simboloMoneda} {$total_paid}</td>
	<td class="aright">{$paid_percentage}%</td>
	<td class="aright">{$simboloMoneda} {$remaining_amount}</td>
	<td class="aleft" style="width:120px;">
		<div style="height:7px;border-radius:5px;width:100%;border:1px solid #7D8798;">
			<div style="height:5px;border-radius:5px;width:{$paid_percentage}%;background:#902FDB;"></div>
		</div>
	</td>
</tr>